.more-menu--container {
  display: flex;
  align-items: center;
  .more-menu--items {
    white-space: nowrap;
    .more-menu--list {
      flex-direction: row;
    }
  }
  .more-menu--more-btn {
    flex-grow: 1;
    text-align: right;
  }
}

.more-menu--list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
