<h1 class="mb-4">Ember more menu - Demo</h1>

<h4>Basic</h4>
{{more-menu items=items class="example1 resizeable"}}

<hr>

<h4>Custom yields</h4>
{{#more-menu
  items=items
  class="example2 resizeable"
  moreButtonText="More options"
  moreButtonClass="btn btn-outline-primary btn-sm"
  targetAttachmentPosition="bottom center"
  attachmentPosition="top center"
  as |section|
}}
  {{#if (eq section "menu")}}
    <ul class="nav flex-nowrap">
      {{#each items as |item|}}
        <li>
          <a href="#" class="nav-link btn-sm">{{item.text}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if (eq section "more")}}
    <ul class="nav flex-column">
      {{#each items as |item|}}
        <li class="nav-item">
          <a href="#" class="nav-link">{{item.text}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/more-menu}}

<hr>
