.more-menu {
  border: 1px solid #ccc;
  min-width: 150px;
}
.more-menu--container {
  padding: 10px;
  padding-right: 20px;
}
.more-menu--more-menu {
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.resizeable:after {
  line-height: 9px;
  font-size: 8px;
  color: #fff;
  content: '|||';
  display: flex;
  align-content: center;
  justify-content: center;
  width: 20px;
  padding: 5px 0;
  background: #007bff;
  border: 1px solid #ccc;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
}
